In [0]:
print("Hello, Data Engineers!")
f_name="Vivek"
l_name="Purbey"
print("Hi, My name is "+ f_name+ " "+ l_name)
#format a string
print(f"Hi, My name is {f_name} {l_name}")

Hello, Data Engineers!
Hi, My name is Vivek Purbey
Hi, My name is Vivek Purbey

In [0]:
age=int(input("Enter your age and I will let you know you are eligibile for Voting or not: "))
if age>=18:
    print("Congratulations, You are eligible for Voting.")
else:
    print("Sorry, You are not eligible for Voting!")

Enter your age and I will let you know you are eligibile for Voting or not:  25

Congratulations, You are eligible for Voting.

In [0]:
# %pip install pandas
# %pip install openpyxl

# dbutils.fs.mkdirs("/folder_name/") #create a new folder in DBFS
# dbutils.fs.rm('/FileStore/tables/employee_data-1.csv') #remove a file from DBFS

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

# Sample data
data = [
    (101, "Alice Johnson", "HR", 55000, "2020-03-15", 88),
    (102, "Bob Smith", "Engineering", 75000, "2019-07-22", 92),
    (103, "Charlie Lee", None, 62000, "2021-01-10", 79),
    (104, None, "Engineering", 81000, "2018-11-05", 95),
    (105, "Evan Kim", "Marketing", None, "2022-06-01", 84)
]

# Schema
schema = StructType([
    StructField("EmployeeID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("JoiningDate", StringType(), True),
    StructField("PerformanceScore", IntegerType(), True)
])

# Create Spark DataFrame
df_spark = spark.createDataFrame(data, schema=schema)

# Write as CSV (overwrite if already exists)
df_spark.write.option("header", True).mode("overwrite").csv("/FileStore/employee_data")

df_read = spark.read.option("header", True).csv("/FileStore/employee_data")

df = df_read.toPandas()

In [0]:
import pandas as pd
print(df) #return first 5 and last 5 records
print(df.head()) #first 5
print(df.tail()) #last 5
print(df.head(3))
print(df.loc[0]) #first record at 0th index in the form of table
print(df.loc[[0, 1]])
df.info()
df.describe() #print the stastics of the dataframe

  EmployeeID           Name   Department Salary JoiningDate PerformanceScore
0        102      Bob Smith  Engineering  75000  2019-07-22               92
1        101  Alice Johnson           HR  55000  2020-03-15               88
2        105       Evan Kim    Marketing   None  2022-06-01               84
3        103    Charlie Lee         None  62000  2021-01-10               79
4        104           None  Engineering  81000  2018-11-05               95
  EmployeeID           Name   Department Salary JoiningDate PerformanceScore
0        102      Bob Smith  Engineering  75000  2019-07-22               92
1        101  Alice Johnson           HR  55000  2020-03-15               88
2        105       Evan Kim    Marketing   None  2022-06-01               84
3        103    Charlie Lee         None  62000  2021-01-10               79
4        104           None  Engineering  81000  2018-11-05               95
  EmployeeID           Name   Department Salary JoiningDate PerformanceScore
0        102      Bob Smith  Engineering  75000  2019-07-22               92
1        101  Alice Johnson           HR  55000  2020-03-15               88
2        105       Evan Kim    Marketing   None  2022-06-01               84
3        103    Charlie Lee         None  62000  2021-01-10               79
4        104           None  Engineering  81000  2018-11-05               95
  EmployeeID           Name   Department Salary JoiningDate PerformanceScore
0        102      Bob Smith  Engineering  75000  2019-07-22               92
1        101  Alice Johnson           HR  55000  2020-03-15               88
2        105       Evan Kim    Marketing   None  2022-06-01               84
EmployeeID                  102
Name                  Bob Smith
Department          Engineering
Salary                    75000
JoiningDate          2019-07-22
PerformanceScore             92
Name: 0, dtype: object
  EmployeeID           Name   Department Salary JoiningDate PerformanceScore
0        102      Bob Smith  Engineering  75000  2019-07-22               92
1        101  Alice Johnson           HR  55000  2020-03-15               88
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EmployeeID        5 non-null      object
 1   Name              4 non-null      object
 2   Department        4 non-null      object
 3   Salary            4 non-null      object
 4   JoiningDate       5 non-null      object
 5   PerformanceScore  5 non-null      object
dtypes: object(6)
memory usage: 368.0+ bytes

,EmployeeID,Name,Department,Salary,JoiningDate,PerformanceScore
count,5,4,4,4,5,5
unique,5,4,3,4,5,5
top,102,Bob Smith,Engineering,75000,2019-07-22,92
freq,1,1,2,1,1,1

In [0]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df_dict = pd.DataFrame(data)

print(df_dict)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [0]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df_weather=pd.DataFrame(weather_data)

df_weather = spark.read.format('csv').options(header=True).load('dbfs:/FileStore/tables/weather_data.csv').toPandas()
df_weather #.options(header='true') Sets options for reading the file : header='true', Telling Spark that the file has headers and tells Spark that the first row of the CSV file contains column names.

df_weather.shape #rows, columns

df_weather['event'] #df_weather.event
type(df_weather['windspeed']) #type(df_weather.windspeed)
df_weather[['windspeed', 'temperature', 'day']] #multiple columns select two brackets use: error-'Expected one value, found 0' if use only one bracket
df_weather.temperature.max() #df_weather['temperature'].min/mean/count()
#df_weather[df_weather['temperature']>28] : df_weather[df_weather.temperature > 28]
'''df = pd.read_csv('data.csv', index_col=0) - remove the default indexing and set the first col as an index 1-second column...'''
df_weather.set_index(['event'], inplace=True) #set_index returns a new dataframe
df_weather.loc['Snow']
df_weather.reset_index(inplace=True)
df_weather

,event,day,temperature,windspeed
0,Rain,1/1/2017,32,6
1,Sunny,1/2/2017,35,7
2,Snow,1/3/2017,28,2
3,Snow,1/4/2017,24,7
4,Rain,1/5/2017,32,4
5,Sunny,1/6/2017,31,2

In [0]:
import pandas as pd
df = spark.read.csv('dbfs:/FileStore/tables/weather_data.csv', header=True).toPandas()
df
"""
read the data
df=pd.read_csv("weather_data.csv", skiprows=1/header=1, - skip the first record from the file header=None - assigns 0,1,2,3,..., names=['day', 'temperature', 'windspeed', 'event'] - use header=None and names=... if header is missing in csv files, nrows=3 - returns first 3 records from the file, na_values=["not available", "n.a"] - replace all the "not available", "n.a" with NaN, 
)

write the data
df.to_csv('cleaned_weather_data.csv', index=False) - stored the cleaned data in this new file (cleaned_weather_data) without index   
df.to_csv('new.csv', columns=['name', 'age']) - if we want to store few columns only, header=False - save the new file without header
"""
print(df)

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow
3  1/4/2017          24         7   Snow
4  1/5/2017          32         4   Rain
5  1/6/2017          31         2  Sunny

##Data Cleaning

In [0]:
import pandas as pd
df_spark=spark.read.csv('dbfs:/FileStore/tables/sales_data.csv')
df=df_spark.toPandas()

"""cleaning empty cells: null/blank"""

#df1=df.dropna() remove all the empty cells and return a new dataframe
#print(df1)

"""Syntax: DataFrameName.dropna(axis=0-rows/1-columns, how='any/all', inplace=True/False)
- axis: axis takes int or string value for rows/columns. Input can be 0 or 1 for Integer and ‘index’ or ‘columns’ for String.
- how: how takes string value of two kinds only (‘any’ or ‘all’). ‘any’ drops the row/column if ANY value is Null and ‘all’ drops only if ALL values are null.
- inplace: It is a boolean which makes the changes in the data frame itself if True and inplace=False: do not change df itself — instead, return a new DataFrame.
"""
#df.dropna(axis=0, how='any', inplace=True)
"""
The fillna() method allows us to replace all the empty/NaN/None(null) cells with a value:
"""
#df1=df.fillna('X')
df.fillna({"_c0": 'X', "_c1":'Y'}, inplace=True) #To only replace empty values for one column, specify the column name for the DataFrame
print(df)

           _c0          _c1    _c2       _c3
0         date      product  sales      task
1   01-01-2023  electronics   1500      sold
2   02-01-2023    groceries      0  returned
3   03-01-2023     clothing   2000      sold
4            X    groceries    300   damaged
5   05-01-2023  electronics   -500  returned
6      6012023     clothing   1800      sold
7   07-01-2023  electronics   2200      sold
8   01-08-2023            Y   2500      sold
9   07-01-2023  electronics   2200      sold
10  08-01-2023     clothing   1100  returned
11  09-01-2023    groceries   2300   damaged

In [0]:
df=spark.read.format('csv').options(header=True).load('dbfs:/FileStore/tables/weather_data_cleaning.csv').toPandas()
df.set_index('day', inplace=True)

df1=df.fillna(0)
df1

df2=df.fillna({
  'temperature': 0,
  'windspeed': 0,
  'event': 'No Event'
})
df2

"""Use method to determine how to fill na values"""
df3=df.fillna(method='ffill')
df3

df4=df.fillna(method='bfill')
df4

df['temperature'] = pd.to_numeric(df['temperature'], errors='coerce') #df['temperature'] = df['temperature'].fillna(0).astype(int)
df5 = df.interpolate() #blank/NaN fill with the approx/interpollated/in-between values compared to above and below
df5

,temperature,windspeed,event
day,,,
1/1/2017,32.000000,6,Rain
1/4/2017,30.000000,9,Sunny
1/5/2017,28.000000,None,Snow
1/6/2017,30.000000,7,None
1/7/2017,32.000000,None,Rain
1/8/2017,32.666667,None,Sunny
1/9/2017,33.333333,None,None
1/10/2017,34.000000,8,Cloudy
1/11/2017,40.000000,12,Sunny

In [0]:
import pandas as pd
import numpy as np
df=spark.read.format('csv').options(header=True).load('dbfs:/FileStore/tables/weather_data_replace_method.csv').toPandas()
df1=df.replace('-99999', np.NaN) #df.replace('-99999', value=np.NaN), numpy has the attribute NaN
df1
df2=df.replace(['-99999', '-88888'], value=0)
df2
df3=df.replace(
    {
        'temperature': '-99999',
        'windspeed': '-99999',
        'event': '0'
    }, np.NaN
)
df3
df4=df.replace(
    {
        '-99999': np.NaN,
        '0': 'Sunny'
    }
)
df4
"""
regex is used to dictate the non-digit character and replace it with a some new value, entire dataset update
"""
df5=df.replace('[A-Za-z]', '', regex=True)
df5=df.replace(
    {
        'temperature': '[A-Za-z]',
        'windspeed': '[A-Za-z]'
    }, '', regex=True
)
df6 = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df6.replace(['exceptional', 'good', 'average', 'poor'], [1, 2, 3, 4], inplace=True)
df6

,score,student
0,1,rob
1,3,maya
2,2,parthiv
3,4,tom
4,3,julian
5,1,erica

In [0]:
df=spark.read.format('csv').options(header=True).load('dbfs:/FileStore/tables/weather_by_cities.csv').toPandas()
#if we perform calculations on string data type like average which will produce the incorrect result: str -> int
df['temperature'] = pd.to_numeric(df['temperature'], errors='coerce')
df['windspeed'] = pd.to_numeric(df['windspeed'], errors='coerce')
df
g=df.groupby('city')
g

Out[12]: <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f20920efd30>

In [0]:
for city, data in g:
    print("city:",city)
    print("data:",data)

city: mumbai
data:         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
city: new york
data:         day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
city: paris
data:          day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [0]:
g.get_group('mumbai')

,day,city,temperature,windspeed,event
4,1/1/2017,mumbai,90,5,Sunny
5,1/2/2017,mumbai,85,12,Fog
6,1/3/2017,mumbai,87,15,Fog
7,1/4/2017,mumbai,92,5,Rain

In [0]:
"""What was the maximum temperature in each of these 3 cities?"""
g.max()
"""What was the average windspeed in each of these 3 cities?"""
g.mean()

,temperature,windspeed
city,,
mumbai,88.50,9.25
new york,32.25,8.00
paris,47.75,12.75

In [0]:
india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

us_weather = pd.DataFrame({
    'city': ["new york","chicago","orlando"],
    'temperature': [21,14,35],
    'humidity': [68, 65, 75]
})
us_weather

df = pd.concat([india_weather, us_weather])
df #second df index restart with 0

df = pd.concat([india_weather, us_weather], ignore_index=True)
df

df = pd.concat([india_weather, us_weather], keys=["india", "us"])
df

df.loc['india']

df = pd.concat([india_weather, us_weather],axis=1)
df

,city,temperature,humidity,city,temperature,humidity
0,mumbai,32,80,new york,21,68
1,delhi,45,60,chicago,14,65
2,banglore,30,78,orlando,35,75

In [0]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35]
})
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})

df3=pd.merge(df1, df2, on='city') #by default: inner join = df3=pd.merge(df1, df2, on='city', how='inner')
df3

df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38]
})
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71]
})

df3=pd.merge(df1, df2, on='city', how='left')
df3
df3=pd.merge(df1, df2, on='city', how='right')
df3
df3=pd.merge(df1, df2, on='city', how='outer')
df3
'''by default indicator=false, indicator means: will tell us the result is coming from which table'''
df4=pd.merge(df1, df2, on='city', how='outer', indicator=True)
df4
#suffixes, by default if both df columns are same it will create _x, _y ..., we can modify it
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})
df3=pd.merge(df1, df2, on='city', how='outer')
df3
df3=pd.merge(df1, df2, on='city', how='outer', suffixes=('_first','_second'))
df3

,city,temperature_first,humidity_first,temperature_second,humidity_second
0,new york,21.0,65.0,14.0,68.0
1,chicago,14.0,68.0,21.0,65.0
2,orlando,35.0,71.0,NaN,NaN
3,baltimore,38.0,75.0,NaN,NaN
4,san diego,NaN,NaN,35.0,71.0

In [0]:
df=spark.read.format('csv').options(header='True').load('dbfs:/FileStore/tables/weather_data.csv').toPandas()
df1=df.pivot(index='day', columns='event') #index=what will by rows and columns=defines what will be the columns, values='temperature'-this will be my data in df
df1

'''pivot() is used to reshaping the data e.x: rows of data into columns whereas pivot_table() is used to summarize and aggregate data inside dataframe it means it is designed for aggregation like sum, mean etc.
melt() is also used to transform and reshape the data
'''

df2=df.pivot_table(index='day', columns='temperature', aggfunc=np.sum) #df2=df.pivot_table(index='day', columns='temperature')
df2
'''
stack: is used to convert the columns of data into rows whereas unstack reverse rows into columns
df = pd.read_excel("stocks.xlsx",header=[0,1])-header tells it has two header level
df.stack() - by default inner level of header convert, if we pass level then it will convert that header only
df.stack(level=0)
'''

Out[18]: '\nstack: is used to convert the columns of data into rows whereas unstack reverse rows into columns\ndf = pd.read_excel("stocks.xlsx",header=[0,1])-header tells it has two header level\ndf.stack() - by default inner level of header convert, if we pass level then it will convert that header only\ndf.stack(level=0)\n'

In [0]:
df=spark.read.format('csv').options(header=True).load('dbfs:/FileStore/tables/aapl.csv').toPandas()
df
'''
df = pd.read_csv("aapl.csv",parse_dates=["Date"], index_col="Date") - parse_dates changes the data type of date column from string(default) to datetime and index_col sets the date column as an index column
df.head(2)
What is DatetimeIndex? Benefits of it:- Partial Date Index: Select Specific Months Data
df['2017-06-30'] - retrieves all the records where date is this
df["2017-01"] - all records where date is Jan 2017 and day is anything
df['2017-01-08':'2017-01-03'] - in between range retrieve

Resampling in Pandas refers to the process of changing the frequency of time series data. This is achieved primarily through the .resample() method, which is a powerful tool for time-based grouping and aggregation.

df['Close'].resample('M').mean().head() -M: Monthly, W: Weekly, Q:Quarterly
'''

Out[19]: '\ndf = pd.read_csv("aapl.csv",parse_dates=["Date"], index_col="Date") - parse_dates changes the data type of date column from string(default) to datetime and index_col sets the date column as an index column\ndf.head(2)\nWhat is DatetimeIndex? Benefits of it:- Partial Date Index: Select Specific Months Data\ndf[\'2017-06-30\'] - retrieves all the records where date is this\ndf["2017-01"] - all records where date is Jan 2017 and day is anything\ndf[\'2017-01-08\':\'2017-01-03\'] - in between range retrieve\n\nResampling in Pandas refers to the process of changing the frequency of time series data. This is achieved primarily through the .resample() method, which is a powerful tool for time-based grouping and aggregation.\n\ndf[\'Close\'].resample(\'M\').mean().head() -M: Monthly, W: Weekly, Q:Quarterly\n'

In [0]:
'''
df = pd.read_csv("aapl_no_dates.csv") - the files doesn't have the date column
df.head()
rng = pd.date_range(start="6/1/2016",end="6/30/2016",freq='B') -B: Business Days, excluding the holidays like sat, sun
rng
df.set_index(rng, inplace=True)
df.head()
daily_index = pd.date_range(start="6/1/2016",end="6/30/2016",freq='D') -D:Daily, M:Monthly
df.asfreq('D',method='pad') --assigns if there is any gap like sat, sun with the previous values
daily_index
'''

Out[20]: '\ndf = pd.read_csv("aapl_no_dates.csv") - the files doesn\'t have the date column\ndf.head()\nrng = pd.date_range(start="6/1/2016",end="6/30/2016",freq=\'B\') -B: Business Days, excluding the holidays like sat, sun\nrng\ndf.set_index(rng, inplace=True)\ndf.head()\ndaily_index = pd.date_range(start="6/1/2016",end="6/30/2016",freq=\'D\') -D:Daily, M:Monthly\ndf.asfreq(\'D\',method=\'pad\') --assigns if there is any gap like sat, sun with the previous values\ndaily_index\n'

In [0]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dt)

pd.to_datetime('5-1-2016', dayfirst=True) #European style dates with day first

'''custom date time format'''
pd.to_datetime('2017$01$05', format='%Y$%m$%d')
pd.to_datetime('2017#01#05', format='%Y#%m#%d')

'''handling invalid dates'''
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore') #it just ignore the error which occur during the run time as well as the valid data and doesn't return any result
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce') #it just ignore the records which have error(wrong format) and replace it with NaT and the final result return in the same date format for all the records with NaT which have wrong record

df.dropna(subset=['Date'], inplace = True) #removing the null values/Drop rows where date conversion failed (NaT)